p.sub-title1{
    color: aqua;
}
p#sub-title2{
    color: pink;
}
.company{
    color: brown;
    font-size: larger;
}
h1{
    color: burlywood;
    font-size: 50pt;
    font-weight: bold;
}
div.box1{
    height: 100px;
    width: 100px;
    background-color: lightskyblue;
}
div.box2{
    height: 100px;
    width: 100px;
    background-color: darkcyan;
}
div.box3{
    height: 100px;
    width: 100px;
    background-color: gold;
}