@charset "utf-8";

html {
    scroll-behavior: smooth;
  }
  nav {
    position: fixed;
    padding: 20px;
    scroll-behavior: smooth;
    text-align: right;
    color: brown;
    text-align: left
  }
  li {
    list-style-type: none;
    font-size: 40px;
    padding: 10px 50px;
    margin: 50px;
    color: brown;
  }
  
  #a {
      font-size: larger;
      text-align: right;
      font-family: serif;
      margin: auto;
      color: brown;
  }

  #b {
    font-size: larger;
    text-align: right;
    font-family: serif;
    margin: 50%;
    color: brown;
  }

#c {
    font-size: larger;
    text-align: right;
    font-family: serif;
    margin: auto;
    color: brown;
  }
  
body {
font-family: serif;
background-image: url(25351_1.jpg);
background-image: no-repeat;
background-attachment: fixed;
text-align: center;
height: 100%;
font-size: larger;
}


.lead {
width: 600px;
text-align: center;
font-family: serif;
font-size: 100px;
margin: auto;
}

.swiper-container {
width: 960px;
height: 456px;
}

.swiper-slide a img:hover {
opacity: 0.6;
}

.profile {
width: 600px;
text-align: center;
margin: 300px auto 0px auto;
}

.flex {
display: flex;
}

.profile_img {
width: 50%;
height: 200px;
background-image: url(211754.jpg);
border-radius: 20%;
background-size: cover;

}

.profile_txt {
width: 100%;
height: 200px;
margin: auto;
margin-bottom: auto;
padding-bottom: auto;
}

#p {
  width: 100%;
  height: 50%;
}

.work_img {
width: 100%;
height: 200px;
background-image: url(233728.jpg) ;
background-size: cover;
text-align: left;
}

.work_img2 {
  width: 50%;
  height: 200px;
  background-image: url(work_640.jpg);
 text-align: right;
}

.work_txt{
width: 100%;
height: 200px;
}

.contact_txt {
width: 100%;
height: 200px;
margin-left: 30px;
}

label{
  float: left;
  margin-right: 20px;
  width: 135px;
  border-left: solid 3px;
  padding-left: 10px;
}

.text {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
}

.mail {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
}

.message {
  width: 150px;
  font-size: 15px;
}